[submodule "Assets/UIWidgetsMarkdown"]
	path = Assets/UIWidgetsMarkdown
	url = https://github.com/angusmf/Markdown-Renderer-For-UIWidgets
[submodule "lic"]
	path = lic
	url = ../../angusmfdotcom/license
